body {
  font-family: sans-serif;
}
input {
  border-radius: 16px;
  border: none;
}
button {
  border-radius: 16px;
}
button:hover {
  background: #ff77ff;
  color: #ffff;
  cursor: pointer;
}
.title {
  text-align: center;
  margin-top: 0;
  font-weight: bold;
  color: #666;
}
.input-area {
  background-color: #4dff4d;
  width: 400px;
  height: 30px;
  padding: 8px;
  margin: 8px;
}
.incomplete-area {
  background-color: #56ddff;
  width: 400px;
  min-height: 200px;
  padding: 8px;
  margin: 8px;
}
.complete-area {
  background-color: #ffeeee;
  width: 400px;
  min-height: 200px;
  padding: 8px;
  margin: 8px;
}
.list-row {
  display: flex;
  align-items: center;
  padding-bottom: 4px;
}
li {
  margin-right: 8px;
}
